<footer class="footer mt-auto py-3">
    <div class="row" style="margin-right: 0">
        <div class="col-2"></div>
        <div class="col-4" align="left" style="margin-left: 60px;">
            <h2 style="color: #009E94">聚集地论坛 Gathering Place Forum</h2>
            <p>我们一直致力于为广大同好提供一个优质的兴趣交流平台！</p>
        </div>
        <div class="col-2" style="margin-top: 10px">
            <h5>关于我们</h5>
            我们是一个年轻的团队<br>
            我们有着超凡的想象力</p>
        </div>
        <div class="col-2" style="margin-top: 20px">
            <h5>联系我们</h5>
            <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=EyUgIiUjJCMnIyAiK1N_cnp-YD1wYnlnZj12d2Y9cH0" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_12.png"/></a>
        </div>

    </div>
</footer>