<header>
    <!-- Fixed navbar -->

    <nav class="navbar navbar-expand-md navbar-light navbar-static-top bg-light">
        <div class="container">
            <a href="index"><img src="/img/logog.png" class="navbar-brand" style="width: 120px;"></img></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="section">版块</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profile">个人主页</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="dbManage">数据库管理</a>-->
<!--                    </li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin: 2px">
                    <form class="form-inline d-flex dropdown" action="/searchAction" method="post">
                        <input class="form-control " type="search" placeholder="Search" id="searchBox" name="keyword"
                               data-toggle="dropdown" style="color: grey;">
                        <button class="btn btn-outline-success" type="submit">
                            <span class="oi oi-magnifying-glass"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" id="hotWordsList" aria-labelledby="searchBox">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">HTML</a>
                            </li>
                            <div class="dropdown-divider"></div>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">CSS</a>
                            </li>
                            <div class="dropdown-divider"></div>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="#">JavaScript</a>
                            </li>
                        </ul>
                    </form>
                    {{#User}}
                    <li class="nav-item" style="margin: 3px">
                        <a class="nav-link" href="message">个人中心</a>
                    </li>
                    <li class="nav-item dropdown" style="margin: 2px">
                        <a class="nav-link dropdown-toggle" href="#" id="userName" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img class="nav-item rounded-circle" src="{{#avatar}}{{.}}{{/avatar}}{{^avatar}}img/no_avatar.png{{/avatar}}" id="navbarAvator" width="30px"
                                 height="30px" alt=""> {{nickName}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="updateProfile">修改个人信息</a>
                            <a class="dropdown-item" href="signout">退出登录</a>
                        </div>
                    </li>
                    {{/User}}
                    {{^User}}
                    <li class="nav-item">
                        <a class="nav-link" href="login" id="signin">
                            <span class="oi oi-account-login">&nbsp;登录</span>
                        </a>
                    </li>
                    {{/User}}
                </ul>
            </div>
        </div>
    </nav>

    <script>
        $(document).ready(function () {
            initSearchBox();
        });

        function initSearchBox() {
            $.ajax({
                type: "post",
                url: "/getVeryHotWord",
                datatype: "json",
                success: function (data) {
                    console.log(data);
                    data = JSON.parse(data);
                    $("#searchBox").val(Object.keys(data[0])[0]);
                    str = "";
                    for (var i = 1; i < data.length; i++) {
                        if (i < data.length - 1) {
                            str += "<li role=\"presentation\"><a role=\"menuitem\" style=\"margin: 10px\" tabindex=\"-1\" href=\"#\" onclick=\"searchHotWord(this)\">" + Object.keys(data[i])[0] + "</a></li>\n" +
                                "                            <div class=\"dropdown-divider\"></div>";
                        } else {
                            str += "<li role=\"presentation\"><a role=\"menuitem\" style=\"margin: 10px\" tabindex=\"-1\" href=\"#\" onclick=\"searchHotWord(this)\">" + Object.keys(data[i])[0] + "</a></li>\n";
                        }
                    }
                    $("#hotWordsList").html(str);
                }
            })
        }


        function searchHotWord(hotWord) {
            window.location.href = "searchAction?keyword=" + hotWord.innerText;
        }


    </script>

</header>
