<!DOCTYPE html>
<html lang="zh-hans" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到聚集地论坛！</title>
    {{>layout/head}}

    <style>

        .img-size{

            width: 2000px;
            height: 400px;
            object-fit: cover;

        }
        .img-background{
            background: center center no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body style="background: #eff0ea" class="d-flex flex-column h-100">
{{>layout/navbar}}
<main role="main" class="flex-shrink-0">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- 指示符 -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <!-- 轮播图片 -->
        <div class="carousel-inner " style="width: 4000px;height:400px">
            <div class="carousel-item active img-background" >
                <img class="img-size" src="/img/bg1.jpg">
            </div>
            <div class="carousel-item img-background">
                <img class="img-size" src="/img/bg2.jpg">
            </div>
            <div  class="carousel-item img-background">
                <img class="img-size" src="/img/bg3.jpg">
            </div>
        </div>
        <!-- 左右切换按钮 -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</main>

<div class="row " style="margin-top: 10px">
    <div class="col-1"></div>
    <div class="col-7" style="padding: 20px">
        <h4>热门文章</h4>
        <hr>
        <div>
            {{#topPosts}}
            <div class="card" style="padding: 10px 20px 10px 20px">
                <div class="row">
                    <div class="col-sm-2">
                        <img class="first-img" src="{{firstImg}}" style="height: 100px;width: 140px">
                    </div>
                    <div class="col-sm-10">
                        <a href="/postDetail?postId={{postId}}" style="color: #0b2e13"><h4>{{title}}</h4></a>
                        <p>{{summary}}</p>
                        <div class="row">
                            <div class="col-6"></div>
                            <div class="col-2">
                                <small>作者：<a href="profile?userEmail={{authorEmail}}">{{authorNickName}}</a></small>
                            </div>
                            <div class="col-4">
                                <small>更新时间：</small><small class="post-time">{{lastEditTime}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {{/topPosts}}
            {{^topPosts}}
            {{/topPosts}}
        </div>
    </div>
    <div class="col-3" style="padding: 20px">
        <h4>大家都在看</h4>
        <hr>
        <div class="card" style="padding: 5px" id="hotbox">
            <h4>今日热词</h4>
            <!--            <div class="row" style="padding: 20px">-->
            <!--                <div class="col-sm-8">-->
            <!--                    <a href="#" style="color: #0b2e13">Object.keys(data[i])[0]</a>-->
            <!--                </div>-->
            <!--                <div class="float-right col-sm-4">热度：data[i][Object.keys(data[i])[0]]</div>-->
            <!--            </div>-->
            <a href="#" style="color: #0b2e13">外交部发言66+</a>
            <a href="#" style="color: #0b2e13">华为新声明33+</a>
        </div>
    </div>

    <div class="col-1"></div>

</div>

{{>layout/footer}}
</body>

<script>

    $().ready(function () {
        initSearchBox1();

        $(".first-img").each(function () {
            var imgUrl=$(this)[0].src;
            if (imgUrl==="http://"+document.domain+":8080/0"){
                $(this).attr('src', "/img/gpf_nopic.png");
            }
        });

        $(".post-time").each(function () {
            var postTime=$(this).text();
            $(this).text(postTime.substring(0, 16));
        })
    });

    function initSearchBox1() {
        $.ajax({
            type: "post",
            url: "/getVeryHotWord",
            datatype: "json",
            success: function (data) {
                console.log(data);
                data = JSON.parse(data);
                $("#hotbox").val(Object.keys(data[0])[0]);
                var str = "";
                for (var i = 0; i < data.length; i++) {
                    str += "<div class=\"row\" style=\"padding: 20px\">\n" +
                        "<div class=\"col-sm-8\">\n" +
                        "<a href=\"#\" style=\"color: #0b2e13\" onclick=\"searchHotWord(this)\" >" + Object.keys(data[i])[0] + "</a>\n" +
                        "</div>\n" +
                        "<div class=\"float-right col-sm-4\">热度：" + data[i][Object.keys(data[i])[0]] + " <span style=\"color: red\">🔥</span></div>\n" +
                        "</div>";
                    $("#hotbox").html(str);
                }
            }
        })
    }

</script>

</html>