<!doctype html>
<html lang="zh-hans" class="h-100">
<head>
    <title>欢迎来到聚集地！</title>
    {{>layout/head}}
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/slider.css">
    <!-- Custom styles for this template -->
    <style>
        .div-a{ position:absolute; left:60px; top:40px;  width:360px; height:240px}
        .div-b{ position:relative; left:10px; top:10px;  width:480px; height:320px}
    </style>
</head>

<body class="d-flex flex-column h-100" style="background: url(../img/loginbg.jpg) center top;">
{{>layout/navbar}}

<div >
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <div class="row">
                <div class="col-7"></div>
                <div class="lowin col-5">
                    <div class="lowin-brand">
                        <!--<img src="kodinger.jpg" alt="logo">-->
                    </div>
                    <div class="lowin-wrapper">
                        <div class="lowin-box lowin-login">
                            <div class="lowin-box-inner">
                                <form id="signinForm">
                                    <p>登录到聚集地论坛</p>
                                    <div class="lowin-group">
                                        <label>Email <a href="#" class="login-back-link">Sign in?</a></label>
                                        <input type="email" autocomplete="email" name="email" class="lowin-input"
                                               id="Email">
                                    </div>
                                    <div class="lowin-group password-group">
                                        <label>密&nbsp;&nbsp;码 <a href="#" class="forgot-link"
                                                                 style="visibility: hidden">Forgot Password?</a></label>
                                        <input type="password" maxlength="16" name="password"
                                               autocomplete="current-password" class="lowin-input" id="Password">
                                    </div>
                                    <a href="" data-toggle="modal" data-target="#faceLoginModal" onclick="photo(),time_out()">使用刷脸登录</a>
                                    <br>
                                    <br>
                                    <!--                                    <button class="lowin-btn login-btn" style="margin-top: 15px" onclick="signin()" type="button">-->
                                    <!--                                        登录-->
                                    <!--                                    </button>-->
                                    <div id="slideBar"></div>
                                    <script type="text/javascript" src="/js/slider.js"></script>
                                    <script type="text/javascript">
                                        var dataList = ["0","1"];
                                        var options = {
                                            dataList: dataList,
                                            success:function(){
                                                signin();
                                            },
                                            fail: function(){
                                                console.log("fail");
                                            }
                                        };
                                        SliderBar("slideBar", options);
                                    </script>

                                    <div class="text-foot">
                                        还没有账户？ <a href="" class="register-link">现在注册</a>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="lowin-box lowin-register">
                            <div class="lowin-box-inner">
                                <form id="signupForm">
                                    <p>1分钟极速注册</p>
                                    <div class="lowin-group">
                                        <label>Email</label>
                                        <input type="email" name="email" autocomplete="email" class="lowin-input"
                                               id="userEmail">
                                    </div>
                                    <div class="lowin-group">
                                        <label>密&nbsp;&nbsp;码</label>
                                        <input type="password" maxlength="16" name="password" class="lowin-input"
                                               id="userPassword">
                                    </div>
                                    <div class="lowin-group">
                                        <label>确认密码</label>
                                        <input type="password" maxlength="16" name="confirmPassword" class="lowin-input"
                                               id="confirmPassword">
                                    </div>
                                    <div class="lowin-group">
                                        <label>验证码</label>

                                        <input type="text" name="veriCode" class="lowin-input col-5" id="veriCode">
                                        <a class="lowin-btn col-5" id="btnSendVeriCode"
                                           style="margin-top: 15px;margin-left: 46px">
                                            发送验证码
                                        </a>
                                    </div>
                                    <button class="lowin-btn" style="margin-top: 15px;" type="button"
                                            onclick="signup()">
                                        注册
                                    </button>

                                    <div class="text-foot">
                                        已有账户？ <a href="" class="login-link">现在登录</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <footer class="lowin-footer">
                        <!--Design By @itskodinger. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>-->
                    </footer>
                </div>
            </div>
        </div>
    </main>
</div>
{{>layout/footer}}

<div class="modal fade" id="faceLoginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">人脸识别</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close_button()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="div-b">
                <canvas id="canvas" width="360" height="240" class="div-a"></canvas>
                <video id="video" autoplay style="width: 360px;height: 240px" class="div-a"></video>
            </div>
            <!--            <div class="modal-footer"></div>-->
        </div>
    </div>
</div>


</body>
<!--描绘video截图-->
<!--<canvas id="canvas" width="480" height="320"></canvas>-->
<script type="text/javascript">
    var dataURL;
    var state="失败";
    var photo_state="打开";
    function time_out() {
        var dsq=setInterval(function () {
            if (state == "成功") {
                alert("人脸识别有误！请重试！")
        } else{
                clearInterval(dsq);
            }},15000);
    }
    function close_button(){
        photo_state="关闭";
        state="失败";
    }
    //访问用户媒体设备的兼容方法
    function getUserMedia(constrains,success,error){
        if(navigator.mediaDevices.getUserMedia){
            //最新标准API
            navigator.mediaDevices.getUserMedia(constrains).then(success).catch(error);
        } else if (navigator.webkitGetUserMedia){
            //webkit内核浏览器
            navigator.webkitGetUserMedia(constrains).then(success).catch(error);
        } else if (navigator.mozGetUserMedia){
            //Firefox浏览器
            navagator.mozGetUserMedia(constrains).then(success).catch(error);
        } else if (navigator.getUserMedia){
            //旧版API
            navigator.getUserMedia(constrains).then(success).catch(error);
        }
    }
    function photo() {
        photo_state="打开";
        state="成功";
        var video = document.getElementById("video");
        var canvas = document.getElementById("canvas");
        var context = canvas.getContext("2d");
        window.setTimeout(function login() {
            context.drawImage(video,0,0,360,240);
            dataURL=canvas.toDataURL();
            console.log(dataURL);
            context.clearRect(0,0,360,240);
            face_login();
        },1000);
    }

    //成功的回调函数
    function success(stream) {
        //兼容webkit内核浏览器
        var CompatibleURL = window.URL || window.webkitURL;
        //将视频流设置为video元素的源
        try {
            //谷歌浏览器放弃此功能
            video.src = CompatibleURL.createObjectURL(stream);
        }catch (e) {
            console.log(e);
            video.srcObject=stream;
        }
        //播放视频
        video.play();
    }

    //异常的回调函数
    function error(error){
        console.log("访问用户媒体设备失败：",error.name,error.message);
    }
    if (navigator.mediaDevices.getUserMedia || navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia){
        //调用用户媒体设备，访问摄像头
        getUserMedia({
            video:{width:480,height:320}
        },success,error);
    } else {
        alert("你的浏览器不支持访问用户媒体设备");
    }

    function face_login() {
        $.ajax({
            type: "POST",
            url: "faceLogin",
            dataType: "JSON",
            data: {
                action:dataURL
            },
            success: function (data) {
                if(data["result"]=="success"){
                   alert("欢迎登陆");
                    state="成功";
                    window.location.href = 'index';
                }else{
                    console.log(data["info"]);
                    console.log(data["result"])
                    if(photo_state=="打开")
                        photo();
                }
            },
            error:function () {
                alert("Error");
            }
        });
    }


</script>
<script src="/js/auth.js"></script>
<script>
    Auth.init({
        login_url: '#login',
        forgot_url: '#forgot'
    });

    $().ready(function () {
// 在键盘按下并释放及提交后验证提交表单
        $("#signupForm").validate({
            rules: {
                email: "required",
                password: "required",
                confirmPassword: "required",
                veriCode: "required",
                password: {
                    required: true,
                    minlength: 6,
                    maxlength: 16
                },
                confirmPassword: {
                    required: true,
                    minlength: 6,
                    maxlength: 16
                    // equalTo: "#password"
                },
                email: {
                    required: true,
                    email: true
                },
                veriCode: {
                    required: true
                }

            },
            messages: {
                email: "请输入Email",
                password: "请输入密码",
                password: {
                    required: "请输入密码",
                    minlength: "密码长度不能小于 6 位",
                    maxlength: "密码长度不能大于 16 位"
                },
                confirm_password: {
                    required: "请输入密码",
                    minlength: "密码长度不能小于 6 位",
                    maxlength: "密码长度不能大于 16 位",
                    equalTo: "两次密码输入不一致"
                },
                email: "请输入一个正确的邮箱"
            }
        })
    });

    $("#btnSendVeriCode").click(function () {
        send();
    })

    function send() {

        var email = $("#userEmail").val();
        // alert(email);
        $.ajax({
            type: "post",
            url: "/sendCode",
            data: {"email": email},
            // dataType: "json",
            success: function (data) {
                alert(data);
            }
        });
    }

    function signin() {
        var email = $("#Email").val();
        var password = $("#Password").val();
        $.ajax({
            type: "post",
            url: "signinAction",
            data: {
                "email": email,
                "password": password
            },
            // dataType: "json",
            success: function (data) {
                if (data==="登录成功") {
                    window.location.href = '/index';
                } else {
                    alert("用户名或密码错误！");
                }
            }
        })
    }

    function signup() {
        var email = $("#userEmail").val();
        var password = $("#userPassword").val();
        var confirmPassword = $("#confirmPassword").val();
        var veriCode = $("#veriCode").val();
        $.ajax({
            type: "post",
            url: "signupAction",
            data: {
                "email": email,
                "password": password,
                "confirmPassword": confirmPassword,
                "veriCode": veriCode
            },
            // dataType: "json",
            success: function (data) {
                if (data == "注册成功") {
                    alert(data);
                    window.location.href = 'updateProfile';
                } else {
                    alert(data);
                }
            }
        })
    }
</script>

</html>
