<!DOCTYPE html>
<html lang="zh-hans" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>页面走丢了 - 404</title>
    {{>layout/head}}
</head>
<body class="d-flex flex-column h-100" style="background:#eff0ea">
{{>layout/navbar}}

<main role="main" class="flex-shrink-0">

    <div style="margin-top: 100px">
        <p style="text-align: center"><span style="font-size:100px; ">404</span></p>
        <p style="text-align: center"><span style="font-size:50px; ">页面走丢了 :(</span></p>
        <div style="text-align: center">
            <span style="font-size:20px; ">
                <a href="/index">返回主页</a>
            </span>
        </div>


    </div>

</main>

{{>layout/footer}}
</body>
</html>