<!DOCTYPE html>
<html lang="zh-hans" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>{{postDetail.title}}</title>
    <!--CSS-->
    {{>layout/head}}
    <link rel="stylesheet" type="text/css" href="/css/likestyle.css"/>
    <!--<script src="../auth.js"></script>-->

</head>

<body class="d-flex flex-column h-100" style="background:#EFF0EA;">
{{>layout/navbar}}
<main role="main" class="flex-shrink-0">
    <div style="text-align: left;">
        <div class="row">

            <div class="col-sm-1"></div>

            <div class="col-sm-2" style="padding: 10px;margin-left: 50px">

                <div class="cols">

                    <div style="background: #f5f5f5;" class="row card">
                        {{#author}}
                        <div class="row ml-1" style="padding: 10px">
                            <!--此处是头像和作者信息-->
                            <div class="" style="margin:0 10px 0 0;">
                                <img src="{{#avatar}}{{.}}{{/avatar}}{{^avatar}}img/no_avatar.png{{/avatar}}"
                                     style="width: 50px;height: 50px;"
                                     class="rounded-circle">
                            </div>
                            <div style="margin-top: 13px;">
                                <a href="/profile?userEmail={{userEmail}}"><span style="color: #0C0C0C">
                                    {{#nickName}}{{.}}{{/nickName}}
                                {{^nickName}}佚名{{/nickName}}</span></a>
                            </div>
                            <div class="ml-auto mr-3 float-right">
                                <button type="button" class="btn btn-outline-primary"
                                        data-toggle="button"
                                        aria-pressed="false"
                                        style="height: 40px;width: 60px; margin-top:5px;">
                                    关注
                                </button>
                            </div>
                        </div>
                        <hr>
                        {{/author}}
                        <div class="row ml-1" style="margin-bottom: 10px">
                            <!--作者发过文章的数目-->
                            <p style="padding-left: 30px">
                                文章数:{{postNum}}
                            </p>
                            <!--作者真正粉丝的数量-->
                            <p class="ml-auto mr-5 float-right">
                                粉丝数：10
                            </p>
                        </div>
                    </div>

                    <hr class="row">

                    <h2>大家都在看</h2>
                    <div class="row card" style="background: #f5f5f5; margin-top: 10px;">
                        <!--下面是热门版块信息-->
                        <div class="card-body" id="hotbox" style="padding: 10px">
                            <h4>今日热词</h4>
                            <a href="#" style="color: #0b2e13">外交部发言66+</a>
                            <a href="#" style="color: #0b2e13">华为新声明33+</a>
                        </div>
                    </div>

                </div>

            </div>
            <!--        padding:100px 100px 100px;-->
            <div style="padding: 10px;margin-left: 50px" class="col-sm-7" id="accordion">
                <div style="background: #f5f5f5;padding: 30px;" class="card">
                    <div>
                        <!--此处是文章标题-->
                        <h3>{{postDetail.title}}</h3>
                    </div>
                    <p>
                        <!--此处是作者信息-->

                        作者：<a
                                href="/profile?userEmail={{postDetail.authorEmail}}">{{#postDetail.authorNickName}}{{.}}{{/postDetail.authorNickName}}
                            {{^postDetail.authorNickName}}佚名{{/postDetail.authorNickName}}</a>&nbsp;&nbsp;

                        最后修改时间：<label class="post-time" style="margin: 10px">{{postDetail.lastEditTime}}</label>

                        <!--此处是浏览信息-->
                        <label style="float: right;margin-top: 7px">浏览数： {{postDetail.browseNumber}}</label>
                    </p>
                    <hr>
                    <!--在此处进行文章的渲染-->
                    <div id="postContent">

                    </div>


                    <!--点赞-->
                    <div class="row">
                        <div class="heart" id="like" rel="like"></div>
                        <div class="likeCount" id="likeCount">{{postDetail.starNumber}}</div>
                    </div>
                </div>

                <div style="background: #f5f5f5;padding: 30px;margin-top: 20px" class="card">
                    <!--评论的条数-->
                    <!--没有评论的显示：还没有回复，快来抢沙发吧-->
                    <h3>{{parentCommentsNumber}}条回帖</h3>
                    <hr>

                    {{#parentComments}}
                    <!--评论详情-->
                    <div class="row" style="margin-bottom: 20px">
                        <!--评论人头像-->
                        <div class="col-1">
                            <img class="nav-item rounded-circle comment-avatar" src="{{userEmail}}"
                                 style="width:60px ;height:60px;margin-left: 20px">
                        </div>
                        <!--评论人及内容-->

                        <div style="margin-left: 20px;" class="col-10">
                            <div>
                                <a href="profile?userEmail="></a>{{userNickName}} |
                                <!--<small style="margin-left: 7px;margin-right: 7px;">|</small>-->
                                <label class="post-time">{{commentTime}}</label>
                                <button class="btn btn-outline-secondary" data-toggle="modal"
                                        data-target="#replyModal"
                                        style="float: right;"
                                        onclick="toReplyModal({{commentId}}, '{{userEmail}}', '{{userNickName}}', {{commentId}})">
                                    <small>回复</small>
                                </button>
                            </div>

                            <div style="margin-top: 5px">
                                <p>
                                    {{content}}
                                </p>
                                <div class="container" id="childComments{{commentId}}">
                                    <small>
                                        <button class="btn btn-sm btn-outline-secondary show-reply" onclick="getChildComments({{commentId}})"
                                                value="{{commentId}}" hidden>
                                            <span class="oi oi-caret-bottom"></span> 显示回复
                                        </button>
                                    </small>

                                </div>

                            </div>
                        </div>
                    </div>
                    <script>
                        $(".comment-avatar").each(function () {
                            getUserAvatar(this.getAttribute("src"), $(this));
                        });

                        function getUserAvatar(userEmail, that) {

                            $.ajax({
                                type: "post",
                                url: "getUserAvatar",
                                dataType: "text",
                                data: {
                                    "userEmail": userEmail
                                },
                                success: function (data) {
                                    if (data != "") {
                                        that.attr('src', data);
                                    } else
                                        that.attr('src', "/img/no_avatar.png");
                                }
                            })
                        }
                    </script>
                    {{/parentComments}}
                    {{^parentComments}}
                    {{/parentComments}}
                </div>
                <input type="text" value="obj.commentId" hidden>
                <div style="margin-top: 50px;">
                    <hr>
                    <h4>发表回复</h4>
                    <form>
                        <textarea class="form-control" rows="3" placeholder="输入评论详情" id="commentContent"></textarea>
                        <button type="button" style="float: right;"
                                class="btn btn-outline-primary" onclick="writeComment()">发表回复
                        </button>
                    </form>
                </div>

            </div>

            <div class="col-sm-1"></div>

        </div>
    </div>
</main>

<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <input type="text" id="parentCommentId" hidden>
            <input type="text" id="targetCommentId" hidden>
            <input type="text" id="respondentEmail" hidden>
            <input type="text" id="respondentNickname" hidden>
            <div class="modal-header">
                <h5 class="modal-title" id="replyModalTitle">回复</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea class="form-control" id="replyContent" placeholder="输入回复内容"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="writeChildComment()" id="btnWriteChildComment"
                        class="btn btn-outline-primary">发表回复
                </button>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}
</body>

<script>
    $(document).ready(function () {

        getPostContent();

        $(".show-reply").each(function () { // 里面放class名字 把你想遍历的标签 class名改成一样的
            getChildComments($(this).val()) //值
        });

        $(".post-time").each(function () { // 里面放class名字 把你想遍历的标签 class名改成一样的
            var date = $(this).text();
            $(this).text(date.substring(0,16)); //值
        });

        if ({{isStared}} == 1) {
            $("body .heart").addClass("heartAnimation").attr("rel", "unlike");
        }

        $('body').on("click", '.heart', function () {

            var A = $(this).attr("id");
            var B = A.split("like");
            var messageID = B[1];
            var C = parseInt($("#likeCount" + messageID).html());
            $(this).css("background-position", "");
            var D = $(this).attr("rel");
            var postId = '{{postDetail.postId}}';
            var postTitle = '{{postDetail.title}}';
            if (D === 'like') {
                $.ajax({
                    type: "post",
                    url: "star",
                    data: {
                        "postId": postId,
                        "postTitle": postTitle,
                        "starType": 1
                    },
                    success: function () {
                        $("#likeCount" + messageID).html(C + 1);
                    }
                });
                $(this).addClass("heartAnimation").attr("rel", "unlike");
            } else {
                $.ajax({
                    type: "post",
                    url: "star",
                    data: {
                        "postId": postId,
                        "postTitle": postTitle,
                        "starType": -1
                    },
                    success: function () {
                        $("#likeCount" + messageID).html(C - 1);
                    }
                });
                $(this).removeClass("heartAnimation").attr("rel", "like");
                $(this).css("background-position", "left");
            }
        });

    });

    function getUserAvatar(userEmail) {

        $.ajax({
            type: "post",
            url: "getUserAvatar",
            dataType: "text",
            data: {
                "userEmail": userEmail
            },
            success: function (data) {
                if (data != "") {
                    $(this)[0].src = data;
                } else
                    $(this)[0].src = "/img/no_avatar.png";
            }
        })
    };

    function getPostContent() {
        var postId = '{{#postDetail.postId}}{{.}}{{/postDetail.postId}}';

        $.ajax({
            type: "post",
            url: "getPostContent",
            dataType: "text",
            data: {
                "postId": postId
            },
            success: function (data) {
                console.log(data);
                $("#postContent").html(data);
            }

        })

    }

    function toReplyModal(commentId, respondentEmail, respondentNickname, targetCommentId) {
        $("#replyModalTitle").text("回复：" + respondentNickname);
        $("#parentCommentId").val(commentId);
        $("#targetCommentId").val(targetCommentId);
        $("#respondentEmail").val(respondentEmail);
        $("#respondentNickname").val(respondentNickname);
    }

    function getChildComments(parentCommentId) {

        var postId = '{{#postDetail.postId}}{{.}}{{/postDetail.postId}}';
        $.ajax({
            type: "post",
            url: "commentDetail",
            dataType: "json",
            data: {
                "postId": postId,
                "parentCommentId": parentCommentId
            },
            success: function (data) {
                console.log(data);
                if (data.length != 0) {
                    str = "";
                    $.each(data, function (i, obj) {
                        str += "<p><small><a href=\"profile?userEmail=" + obj.userEmail + "\">" + obj.userNickName + " </a> 对 <a href=\"profile?userEmail=" + obj.respondentUserEmail + "\">" + obj.respondentUserNickName + "</a>\n" +
                            " 说：" + obj.content + "<a  data-toggle=\"modal\" data-target=\"#replyModal\" href=\"#\" onclick=\"toReplyModal(" + obj.parentCommentId + ",'" + obj.userEmail + "','" + obj.userNickName + "','" + obj.commentId + "')\"> 回复</a></small></p>\n";
                    });
                    $("#childComments" + parentCommentId).html(str);
                } else {
                    $("#childComments" + parentCommentId).html("<small style='color: rgba(100,99,102,0.93)'>没有更多回复了 :(</small>");
                }
                console.log(data);
            }
        })
    }

    function writeChildComment() {
        var parentCommentId = $("#parentCommentId").val();
        var targetCommentId = $("#targetCommentId").val();
        var respondentEmail = $("#respondentEmail").val();
        var respondentNickname = $("#respondentNickname").val();
        var commentContent = $("#replyContent").val();
        var postId = '{{#postDetail.postId}}{{.}}{{/postDetail.postId}}';
        $.ajax({
            type: "post",
            url: "writeComment",
            data: {
                "postId": postId,
                "respondentEmail": respondentEmail,
                "respondentNickname": respondentNickname,
                "parentCommentId": parentCommentId,
                "commentContent": commentContent,
                "targetCommentId": targetCommentId
            },
            success: function (data) {
                if (data === "发表成功") {
                    window.location.href = "postDetail?postId=" + postId;
                } else {
                    alert(data);
                }
            }
        })
    }

    function writeComment() {
        var commentContent = $("#commentContent").val();
        var postId = '{{#postDetail.postId}}{{.}}{{/postDetail.postId}}';
        var respondentEmail = '{{#postDetail.authorEmail}}{{.}}{{/postDetail.authorEmail}}'
        var respondentNickname = '{{#postDetail.authorNickName}}{{.}}{{/postDetail.authorNickName}}'
        $.ajax({
            type: "post",
            url: "writeComment",
            data: {
                "postId": postId,
                "commentContent": commentContent,
                "respondentEmail": respondentEmail,
                "respondentNickname": respondentNickname
            },
            success: function (data) {
                if (data === "发表成功") {
                    window.location.href = "postDetail?postId=" + postId;
                } else {
                    alert(data);
                }
            }
        })
    }


    $().ready(function () {
        initSearchBox1();

        $(".first-img").each(function () {
            var imgUrl=$(this)[0].src;
            if (imgUrl==="http://"+document.domain+":8080/0"){
                $(this).attr('src', "/img/gpf_nopic.png");
            }
        });

    });

    function initSearchBox1() {
        $.ajax({
            type: "post",
            url: "/getVeryHotWord",
            datatype: "json",
            success: function (data) {
                console.log(data);
                data = JSON.parse(data);
                $("#hotbox").val(Object.keys(data[0])[0]);
                var str = "";
                for (var i = 0; i < data.length; i++) {
                    str += "<div class=\"row\" style=\"padding: 20px\">\n" +
                        "<div class=\"col-sm-7\">\n" +
                        "<a href=\"#\" style=\"color: #0b2e13\" onclick=\"searchHotWord(this)\" >" + Object.keys(data[i])[0] + "</a>\n" +
                        "</div>\n" +
                        "<div class=\"float-right col-sm-5\">热度：" + data[i][Object.keys(data[i])[0]] + " <span style=\"color: red\">🔥</span></div>\n" +
                        "</div>";
                    $("#hotbox").html(str);
                }
            }
        })
    }

</script>
</html>
