<!DOCTYPE html>
<html lang="zh-hans" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>文章详情</title>
    <!--CSS-->
    {{>layout/head}}
    <link rel="stylesheet" type="text/css" href="/css/likestyle.css"/>
    <!--<script src="../auth.js"></script>-->

</head>

<body class="d-flex flex-column h-100" style="background:#EFF0EA;">
{{>layout/navbar}}
<main role="main" class="flex-shrink-0">
    <div style="text-align: left;">
        <div class="row">

            <div class="col-sm-1"></div>

            <div class="col-sm-2" style="padding: 10px;margin-left: 50px">

                <div class="cols">

                    <div style="background: #f5f5f5;" class="row card">
                        <div class="row ml-1" style="padding: 10px">
                            <!--此处是头像和作者信息-->
                            <div class="" style="margin:0 10px 0 0;">
                                <img src="../static/img/loginbg.jpg" style="width: 50px;height: 50px;"
                                     class="rounded-circle">
                            </div>
                            <div style="margin-top: 13px;">
                                <a href="/profile?userEmail={{postDetail.authorEmail}}"><span style="color: #0C0C0C"> {{postDetail.authorNickName}}</span></a>
                            </div>
                            <div class="ml-auto mr-3 float-right">
                                <button type="button" class="btn btn-outline-primary"
                                        data-toggle="button"
                                        aria-pressed="false"
                                        style="height: 40px;width: 60px; margin-top:5px;">
                                    关注
                                </button>
                            </div>
                        </div>
                        <hr>
                        <div class="row ml-1" style="margin-bottom: 10px">
                            <!--作者发过文章的数目-->
                            <p style="padding-left: 30px">
                                文章数:100
                            </p>
                            <!--作者真正粉丝的数量-->
                            <p class="ml-auto mr-5 float-right">
                                粉丝数：10000
                            </p>
                        </div>
                    </div>

                    <hr class="row">

                    <h2>大家都在看</h2>
                    <div class="row card" style="background: #f5f5f5; margin-top: 10px;">
                        <!--下面是热门版块信息-->
                        <div class="card-body">
                            <h4>
                                <a href="#">
                                    <span style="color: #0C0C0C">音乐区</span>
                                </a>
                            </h4>
                            <p>
                                音乐是反映人类现实生活情感的一种艺术。
                            </p>
                            <small>帖子数：100</small>
                            <small class="float-right">浏览数：10000</small>
                        </div>
                    </div>
                    <div class="row card" style="background: #f5f5f5; margin-top: 10px;">
                        <!--下面是热门版块信息-->
                        <div class="card-body">
                            <h4>
                                <a href="#">
                                    <span style="color: #0C0C0C">音乐区</span>
                                </a>
                            </h4>
                            <p>
                                音乐是反映人类现实生活情感的一种艺术。
                            </p>
                            <small>帖子数：100</small>
                            <small class="float-right">浏览数：10000</small>
                        </div>
                    </div>
                    <div class="row card" style="background: #f5f5f5; margin-top: 10px;">
                        <!--下面是热门版块信息-->
                        <div class="card-body">
                            <h4>
                                <a href="#">
                                    <span style="color: #0C0C0C">音乐区</span>
                                </a>
                            </h4>
                            <p>
                                音乐是反映人类现实生活情感的一种艺术。
                            </p>
                            <small>帖子数：100</small>
                            <small class="float-right">浏览数：10000</small>
                        </div>
                    </div>
                    <div class="row card" style="background: #f5f5f5; margin-top: 10px;">
                        <!--下面是热门版块信息-->
                        <div class="card-body">
                            <h4>
                                <a href="#">
                                    <span style="color: #0C0C0C">音乐区</span>
                                </a>
                            </h4>
                            <p>
                                音乐是反映人类现实生活情感的一种艺术。
                            </p>
                            <small>帖子数：100</small>
                            <small class="float-right">浏览数：10000</small>
                        </div>
                    </div>

                </div>

            </div>
            <!--        padding:100px 100px 100px;-->
            <div style="padding: 10px;margin-left: 50px" class="col-sm-7" id="accordion">
                <div style="background: #f5f5f5;padding: 30px;" class="card">
                    <div>
                        <!--此处是文章标题-->
                        <h3>{{postDetail.title}}</h3>
                    </div>
                    <p>
                        <!--此处是作者信息-->
                        <small>作者：<a
                                href="/profile?userEmail={{postDetail.authorEmail}}">{{postDetail.authorNickName}}</a>
                        </small>
                        <small style="margin: 10px">最后修改时间：{{postDetail.lastEditTime}}</small>

                        <!--此处是浏览信息-->
                        <label style="float: right;margin-top: 7px">浏览数：{{postDetail.browseNumber}}</label>
                    </p>
                    <hr>
                    <!--在此处进行文章的渲染-->
                    <div>
                        {{postDetail.content}}
                    </div>


                    <!--点赞-->
                    <div class="row">
                        <div class="heart" id="like2" rel="like"></div>
                        <div class="likeCount" id="likeCount2">10</div>
                    </div>
                </div>

                <div style="background: #f5f5f5;padding: 30px;margin-top: 20px" class="card">
                    <!--评论的条数-->
                    <!--没有评论的显示：还没有回复，快来抢沙发吧-->
                    <h3>{{parentCommentsNumber}}条回帖</h3>
                    <hr>

                    {{#parentComments}}
                    <!--评论详情-->
                    <div class="row" style="margin-bottom: 20px">
                        <!--评论人头像-->
                        <div class="col-1">
                            <img class="nav-item rounded-circle"
                                 src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1563112838538&di=698d772f752992a2f4ff0a73988e0f26&imgtype=0&src=http%3A%2F%2Fwww.xinhuanet.com%2Fpolitics%2F2018-03%2F14%2F1122538039_15210257516771n.jpg"
                                 style="width:60px ;height:60px;margin-left: 20px">
                        </div>
                        <!--评论人及内容-->

                        <div style="margin-left: 20px;" class="col-10">
                            <div>
                                <small><a href="profile?userEmail={{userEmail}}"></a>{{userNickName}}</small>
                                <small style="margin-left: 7px;margin-right: 7px;">|</small>
                                <small>{{commentTime}}</small>
                                <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#replyModal"
                                   style="float: right;" onclick="toReplyModal({{commentId}}, '{{userNickName}}', '{{userEmail}}', {{commentId}})">
                                    <small>回复</small>
                                </button>
                            </div>

                            <div  style="margin-top: 5px">
                                <p>
                                    {{content}}
                                </p>
                                <div class="container" id="childComments{{commentId}}">
                                    <!--<small><a href="profile?userEmail=">江泽民 </a> 对 <a href="profile?userEmail="> 董建华</a>-->
                                         <!--说：连任也要按照基本法和选举法去产生<a href="#replyCollapse{{commentId}}"> 回复</a></small>-->
                                    <!--<div class="collapse" id="replyCollapse{{commentId}}" data-parent="#accordion">-->
                                        <!--<div class="card card-body">-->
                                            <!--<label>输入回复：</label>-->
                                            <!--<textarea id="childCommentContent{{commentId}}" placeholder="输入回复内容"></textarea>-->
                                            <!--<button type="button" style="float: right;width: 120px" value="{{commentId}}" onclick="writeChildComment(this)"-->
                                                    <!--class="btn btn-outline-secondary">发表回复-->
                                            <!--</button>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <small><input type="button" class="btn btn-sm btn-outline-secondary" onclick="getChildComments({{commentId}})" value="显示回复"></input></small>

                                </div>

                            </div>
                        </div>
                    </div>
                    {{/parentComments}}
                    {{^parentComments}}
                    {{/parentComments}}
                </div>
                <input type="text" value="obj.commentId" hidden>
                <div style="margin-top: 50px;">
                    <hr>
                    <h4>发表回复</h4>
                    <form>
                        <textarea class="form-control" rows="3" placeholder="输入评论详情" id="commentContent"></textarea>
                        <button type="button" style="float: right;"
                                class="btn btn-outline-primary" onclick="writeComment()">发表回复
                        </button>
                    </form>
                </div>

            </div>

            <div class="col-sm-1"></div>

        </div>
    </div>
</main>

<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <input type="text" id="parentCommentId" hidden>
            <input type="text" id="targetCommentId" hidden>
            <input type="text" id="respondentEmail" hidden>
            <input type="text" id="respondentNickname" hidden>
            <div class="modal-header">
                <h5 class="modal-title" id="replyModalTitle">回复</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea class="form-control" id="replyContent" placeholder="输入回复内容"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="writeChildComment()" id="btnWriteChildComment"
                        class="btn btn-outline-primary">发表回复
                </button>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}
</body>

<script>
    $(document).ready(function () {

        $('body').on("click", '.heart', function () {

            var A = $(this).attr("id");
            var B = A.split("like");
            var messageID = B[1];
            var C = parseInt($("#likeCount" + messageID).html());
            $(this).css("background-position", "");
            var D = $(this).attr("rel");

            if (D === 'like') {
                $("#likeCount" + messageID).html(C + 1);
                $(this).addClass("heartAnimation").attr("rel", "unlike");
            } else {
                $("#likeCount" + messageID).html(C - 1);
                $(this).removeClass("heartAnimation").attr("rel", "like");
                $(this).css("background-position", "left");
            }
        });

    });

    function toReplyModal(commentId, respondentNickname, respondentEmail, targetCommentId){
        $("#replyModalTitle").text("回复：" + respondentNickname);
        $("#parentCommentId").val(commentId);
        $("#targetCommentId").val(targetCommentId);
        $("#respondentEmail").val(respondentEmail);
        $("#respondentNickname").val(respondentNickname);
    }

    function getChildComments(parentCommentId) {

        var postId = '{{#postDetail.postId}}{{.}}{{/postDetail.postId}}';
        $.ajax({
            type: "post",
            url: "commentDetail",
            dataType: "json",
            data: {
                "postId": postId,
                "parentCommentId": parentCommentId
            },
            success: function (data) {
                console.log(data);
                str="";
                $.each(data, function(i, obj) {
                    str+="<p><small><a href=\"profile?userEmail="+obj.userEmail+"\">"+obj.userNickName+" </a> 对 <a href=\"profile?userEmail="+obj.respondentUserNickName+"\">"+ obj.respondentUserNickName+"</a>\n" +
                        " 说："+obj.content+"<a  data-toggle=\"modal\" data-target=\"#replyModal\" href=\"#\" onclick=\"toReplyModal("+obj.parentCommentId+",'"+ obj.userEmail+"','"+ obj.userNickName+"','"+ obj.commentId+"')\"> 回复</a></small></p>\n";
                });
                $("#childComments"+parentCommentId).html(str);
                console.log(data);
            }
        })
    }

    function writeChildComment() {
        var parentCommentId=$("#parentCommentId").val();
        var targetCommentId=$("#targetCommentId").val();
        var respondentEmail=$("#respondentEmail").val();
        var respondentNickname=$("#respondentNickname").val();
        var commentContent = $("#replyContent").val();
        var postId = '{{#postDetail.postId}}{{.}}{{/postDetail.postId}}';
        $.ajax({
            type: "post",
            url: "writeComment",
            data: {
                "postId": postId,
                "respondentEmail": respondentEmail,
                "respondentNickname": respondentNickname,
                "parentCommentId": parentCommentId,
                "commentContent": commentContent,
                "targetCommentId": targetCommentId
            },
            success: function (data) {
                if (data==="发表成功") {
                    window.location.href="postDetail?postId="+postId;
                } else {
                    alert(data);
                }
            }
        })
    }

    function writeComment() {
        var commentContent = $("#commentContent").val();
        var postId = '{{#postDetail.postId}}{{.}}{{/postDetail.postId}}';
        $.ajax({
            type: "post",
            url: "writeComment",
            data: {
                "postId": postId,
                "commentContent": commentContent
            },
            success: function (data) {
                if (data==="发表成功") {
                    window.location.href="postDetail?postId="+postId;
                } else {
                    alert(data);
                }
            }
        })
    }
</script>
</html>
