<!doctype html>
<html lang="zh-hans" class="h-100">
<head>
    <title>{{#User.nickName}}{{.}}{{/User.nickName}}{{^User.nickName}}{{/User.nickName}}的个人主页</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    {{>layout/head}}

    <!-- Custom styles for this template -->
</head>

<body class="d-flex flex-column h-100" style="background:#eff0ea">

{{>layout/navbar}}

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="row" style="margin: 30px 0 0 0;">
        <div class="col-2"></div>
        <div class="col-10">
            <h2>我发的帖子</h2>
            <div class="row">
                <div class="col-7">

                    {{#postPage}}
                    <div class="card" style="padding: 10px 20px 10px 20px">
                        <a href="/postDetail?postId={{postId}}" style="color: #0b2e13"><h4>{{title}}</h4></a>
                        <p>{{summary}}
                            <a href="/postDetail?postId={{postId}}" style="color:#7a5e3f">查看原文</a></p>
                        <div class="row">
                            <div class="col-8"></div>
                            <div class="col-2" name="lastEditTimes">{{lastEditTime}}</div>
                            <div class="col-1"><input type="image" src="/svg/heart.svg" style="height: 20px;width: 20px"></div>
                            <div class="col-1"><input type="image" class="delete-post" id=""
                                                      name="btnDeletePost" btnPostId="{{postId}}" btnAuthorEmail="{{authorEmail}}"src="/svg/trash.svg" style="height: 20px;width: 20px"></div>
                        </div>
                    </div>
                    {{/postPage}}


                    <div id="pagination"></div>
                </div>
                <div class="card col-3" style="max-height: 500px">
                    <div class="card-body" style="padding: 10px;text-align: center">
                        <img class="nav-item rounded-circle" src="../img/no_avatar.png"
                             id="UserAvatar"
                             style="width: 70px;height: 70px">
                        <h5 style="text-align: center" id="userNickname1">用户名</h5>
                        <div class="row" style="text-align: center">
                            <div class="col-4" id="showUserPostNumber">发帖:xxx</div>
                            <div class="col-4">评论:xxx</div>
                            <div class="col-4">粉丝:xxx</div>
                        </div>
                        <br>
                        <div id="userHobby">

                        </div>
                        <h6 id="showUserEmail">邮箱账号：xxxxxxxxxx@jjd.com</h6>
                        <a id="userBirthday">生日：1997-09-21</a><br>
                        <a id="userLocation">地区：重庆&nbsp;&nbsp;南岸</a><br>
                        <br>
                        <a id="userSignature">个人描述：此生此夜不长好，明月明年何处看。</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<br>
<br>
<br>
{{>layout/footer}}

<script src="/layui/layui.js"></script>
<script>


    $(".delete-post").click(function () {
        if(confirm("确认删除该帖吗？")){
            var postId = this.getAttribute("btnPostId");
            $.ajax({
                type: "post",
                url: "deletePost",
                data: {
                    "postId": postId
                },
                success: function (data) {
                    if(data=="删除成功") {
                        // alert("删除成功");
                        window.location.reload();
                    }else{
                        alert("删除失败");
                    }
                }
            })
        }
    });

    layui.use('laypage', function(){
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'pagination' //分页控件id
            ,limit: 10 //每页显示的条数
            ,count: {{postPage.totalElements}} //数据总数，从服务端得到
            ,groups: 5
            ,curr:Number({{postPage.number}}+1)
        ,jump:function(obj,first){//当点击分页的页码，切换后的调用该函数
            if(!first){
                //改变浏览器的地址
                location.href="profile?pageIndex="+obj.curr;
            }
        }
            ,layout:['count', 'prev', 'page', 'next', 'skip']
        });


    });



    $(function () {

        var lastEditTimes = document.getElementsByName("lastEditTimes");
        for (var i=0;i<lastEditTimes.length;i++){
            lastEditTimes[i].innerText = (process(lastEditTimes[i].innerText));
        }

        function process(data) {
            var flag = data.indexOf(" ");
            return data.substring(0,flag);
        }
    });

</script>

<script>
    $(function () {
        $("#UserAvatar").attr("src",'{{#targetUser.avatar}}{{.}}{{/targetUser.avatar}}{{^targetUser.avatar}}img/no_avatar.png{{/targetUser.avatar}}');
        $("#showUserPostNumber").html('发帖:'+'{{#targetUser.userPostNumber}}{{.}}{{/targetUser.userPostNumber}}{{^targetUser.userPostNumber}}0{{/targetUser.userPostNumber}}');
        $("#userNickname1").text('{{#targetUser.nickName}}{{.}}{{/targetUser.nickName}}{{^targetUser.nickName}}{{/targetUser.nickName}}');

        var birthdayInfo = '{{#targetUser.birthday}}{{.}}{{/targetUser.birthday}}{{^targetUser.birthday}}未设置{{/targetUser.birthday}}';
        $("#userBirthday").text('生日：'+birthdayInfo);
        var locationInfo = '{{#targetUser.location}}{{.}}{{/targetUser.location}}{{^targetUser.location}}{{/targetUser.location}}';
        var location = locationInfo;
        if(locationInfo!='') {
            var splitLoc = location.search(/省|市|区/);
            var province = location.substring(0, splitLoc + 1);
            var city = location.substring(splitLoc + 1);
            $("#userLocation").text('地区：'+ province +' '+city);
        }else{
            $("#userLocation").text('地区：未设置');
        }
        var hobbyInfo = '{{#targetUser.hobby}}{{.}}{{/targetUser.hobby}}{{^targetUser.hobby}}{{/targetUser.hobby}}';
        if(hobbyInfo!='') {
            var hobbyArr = hobbyInfo.split(" ");
                for(var j=0;j<hobbyArr.length-1;j++) {
                    $("#userHobby").append('<span class="badge '+ getHobbyTagStyle(j) +'">'+ hobbyArr[j] +'</span> ')

                }

        }
        var signatureInfo = '{{#targetUser.signature}}{{.}}{{/targetUser.signature}}{{^targetUser.signature}}无{{/targetUser.signature}}';
        $("#userSignature").text('个人描述：'+signatureInfo);

            $("#showUserEmail").text('邮箱账号：{{targetUser.userEmail}}');


    });
    function getHobbyTagStyle(i) {
        var res;
        switch (i%5) {
            case 0:res='badge-primary';break;
            case 1:res='badge-secondary';break;
            case 2:res='badge-success';break;
            case 3:res='badge-danger';break;
            case 4:res='badge-warning';break;
        }
        return res;
    }
    $(function () {
        var deletePostDivs = document.getElementsByName("btnDeletePost");
        var userEmail = '{{#User.userEmail}}{{.}}{{/User.userEmail}}{{^User.userEmail}}null{{/User.userEmail}}';
        var targetUserEmail = '{{#targetUser.userEmail}}{{.}}{{/targetUser.userEmail}}{{^targetUser.userEmail}}{{/targetUser.userEmail}}';

        for(var i = 0;i<deletePostDivs.length;i++){
            if(userEmail!=targetUserEmail){
                deletePostDivs[i].disabled=true;
            }
        }
    });

</script>

</body>

</html>
