<!DOCTYPE html>
<html lang="zh-hans" class="h-100">
<head>
    <meta charset="UTF-8">
    <!---->
    <link rel="stylesheet" href="/layui/css/layui.css">
    {{>layout/head}}
    <title>{{#sectionDetail}}{{sectionDetail.sectionName}}{{/sectionDetail}}</title>
</head>
<body class="d-flex flex-column h-100" style="background: #eff0ea">
{{>layout/navbar}}

<main role="main" class="flex-shrink-0">
    <div class="row" style="margin-top: 80px">
        <div class="col-2"></div>
        <div class="col-10">

            <div class="row" style="margin-bottom: 20px">
                <div class="col-7 row ml-1">
                    <h3>"{{#sectionDetail}}{{sectionDetail.sectionName}}{{/sectionDetail}}"版</h3>

                    <div class="btn-group ml-auto mr-1 float-right" id="buttonGroup">
                        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" style="width: 160px;" value="按时间倒序"
                                id="sortBy">
                            <span class="oi oi-sort-descending" id="showSortBy">&nbsp;按时间倒序</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">&nbsp;按时间倒序</a>
                            <a class="dropdown-item" href="#">&nbsp;按点赞数倒序</a>
                            <a class="dropdown-item" href="#">&nbsp;按浏览数倒序</a>
                        </div>
                        <script>
                            $(".dropdown-menu a").click(function () {
                                $(this).parents("#buttonGroup").find('#showSortBy').text($(this).text());
                                $(this).parents("#buttonGroup").find('#sortBy').val($(this).text());
                            });
                        </script>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-7">
                    {{#postPage}}
                    <div class="card" style="padding: 10px 20px 10px 20px;margin-bottom: 20px;">

                        <div class="col-1">
                            <img src="{{#firstImg}}{{.}}{{/firstImg}}{{^firstImg}}0100010101010{{/firstImg}}"
                                 style="width: 100px;height: 100px">
                        </div>
                        <div class="col-auto float-right">
                            <h4><a href="/postDetail?postId={{postId}}" style="color: #0b2e13">{{title}}</a></h4>
                            <p>{{summary}}
                                <!--                        <a href="#" style="color:#7a5e3f">查看原文</a></p>-->
                            <div class="row">
                                <div class="col-6"></div>
                                <div class="col-4" name="lastEditTimes">{{lastEditTime}}</div>
                                <div class="col-1"><input type="image" src="/svg/heart.svg"
                                                          style="height: 20px;width: 20px"></div>
                                <div class="col-1"><input type="image" class="delete-post" id="" src="/svg/trash.svg"
                                                          name="btnDeletePost" btnPostId="{{postId}}" btnAuthorEmail="{{authorEmail}}" style="height: 20px;width: 20px"></div>
                            </div>
                        </div>
                    </div>
                    {{/postPage}}
                    {{^postPage}}
                    {{/postPage}}
                    <div id="pagination"></div>
                </div>
                <div class="card col-3" style="max-height: 500px">
                    <div class="card-body" style="padding: 10px;text-align: center">
                        {{#sectionDetail}}
                        <h3 style="text-align: center;max-height: 200px">{{sectionName}}</h3>
                        <h4 class="container" style="margin-bottom: 50px">
                            {{description}}
                        </h4>
                        {{/sectionDetail}}
                        <hr>
                        <p>
                            版主
                        </p>
                        {{#moderators}}
                        <div class="row ml-1" style="padding: 0 10px 0 10px; margin: auto auto 20px;">
                            <div class="" style="margin:0 15px 0 0;">
                                <img src="https://gss3.bdstatic.com/-Po3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike92%2C5%2C5%2C92%2C30/sign=80f0e4b4a61ea8d39e2f7c56f6635b2b/267f9e2f07082838ac3a8f1bb899a9014c08f18e.jpg"
                                     style="width: 50px;height: 50px;"
                                     class="rounded-circle">
                            </div>
                            <input type="hidden" name="btnModeratorEmail" value="{{moderatorEmail}}">
                            <div style="margin-top: 13px;">
                                <a href="/profile?userEmail={{moderatorEmail}}"><span style="color: #0C0C0C"> {{moderatorNickName}}</span></a>
                            </div>
                            <button type="button" class="btn btn-outline-primary ml-auto mr-3 float-right"
                                    data-toggle="button"
                                    aria-pressed="false"
                                    style="height: 40px;width: 60px; margin-top:5px;">
                                关注
                            </button>
                        </div>
                        {{/moderators}}
                        <!--<div class="row ml-1" style="padding: 0 10px 0 10px; margin: auto auto 20px;">-->
                        <!--<div class="" style="margin:0 15px 0 0;">-->
                        <!--<img src="https://gss3.bdstatic.com/-Po3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike92%2C5%2C5%2C92%2C30/sign=80f0e4b4a61ea8d39e2f7c56f6635b2b/267f9e2f07082838ac3a8f1bb899a9014c08f18e.jpg"-->
                        <!--style="width: 50px;height: 50px;"-->
                        <!--class="rounded-circle">-->
                        <!--</div>-->
                        <!--<div style="margin-top: 13px;">-->
                        <!--<a href="#"><span style="color: #0C0C0C"> 江泽民</span></a>-->
                        <!--</div>-->
                        <!--<button type="button" class="btn btn-outline-primary ml-auto mr-3 float-right"-->
                        <!--data-toggle="button"-->
                        <!--aria-pressed="false"-->
                        <!--style="height: 40px;width: 60px; margin-top:5px;">-->
                        <!--关注-->
                        <!--</button>-->
                        <!--</div>-->
                        <div style="position: absolute;bottom: 0;left: 22%;margin-bottom: 20px;">
                            {{#sectionDetail}}
                            <a type="button" class="btn btn-outline-primary" href="/write?sectionName={{sectionName}}">
                                <span class="oi oi-pencil"></span>&nbsp;发表新帖
                            </a>
                            {{/sectionDetail}}
                            <button type="button" class="btn btn-outline-primary">
                                <span class="oi oi-puzzle-piece"></span>&nbsp;申请版主
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>

    </div>
</main>
{{>layout/footer}}

<script src="/layui/layui.js"></script>
<script>

    $(".delete-post").click(function () {
        if(confirm("确认删除该帖吗？")){
            var postId = this.getAttribute("btnPostId");
            $.ajax({
                type: "post",
                url: "deletePost",
                data: {
                    "postId": postId
                },
                success: function (data) {
                    if(data=="删除成功") {
                        // alert("删除成功");
                        window.location.reload();
                    }else{
                        alert("删除失败");
                    }
                }
            })
        }
    });

    layui.use('laypage', function () {
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'pagination' //分页控件id
            , limit: 10 //每页显示的条数
            , count: {
        {
            postPage.totalElements
        }
    } //数据总数，从服务端得到
    ,
        groups: 5
            , curr
    :
        Number({
        {
            postPage.number
        }
    }
        +1
    )
    ,
        jump:function (obj, first) {//当点击分页的页码，切换后的调用该函数
            if (!first) {
                //改变浏览器的地址
                location.href = "sectionDetail?pageIndex=" + obj.curr + '&sectionName=' + '{{sectionDetail.sectionName}}';
            }
        }
    ,
        layout:['count', 'prev', 'page', 'next', 'skip']
    })
        ;
    });

    $(function () {

        var lastEditTimes = document.getElementsByName("lastEditTimes");
        for (var i = 0; i < lastEditTimes.length; i++) {
            lastEditTimes[i].innerText = (process(lastEditTimes[i].innerText));
        }

        function process(data) {
            // var flag = data.indexOf(" ");
            return data.substring(0, 19);
        }
    });
</script>

<script>
    $(function () {
        var deletePostDivs = document.getElementsByName("btnDeletePost");
        var identity;
        var userEmail = '{{#User.userEmail}}{{.}}{{/User.userEmail}}{{^User.userEmail}}null{{/User.userEmail}}';
        if(userEmail=='null')identity = 0;//游客
        else {
            var moderator = document.getElementsByName("btnModeratorEmail");
            for (var i = 0; i < moderator.length; i++) {
                if (userEmail == moderator[i].value) {
                    identity = 1;//版主
                    break;
                }
            }
        }
        // alert(identity);

        for(var i = 0;i<deletePostDivs.length;i++){
            if(identity==0){
                deletePostDivs[i].disabled=true;
            }else if(identity==1){

            }else if(userEmail != deletePostDivs[i].getAttribute("btnAuthorEmail")){
                deletePostDivs[i].disabled=true;
            }
        }

    });


</script>

</body>
</html>