<!DOCTYPE html>
<html lang="zh-hans" class="h-100">
<head>
    <meta charset="UTF-8">
    <!---->
    <link rel="stylesheet" href="/layui/css/layui.css">
    {{>layout/head}}
    <title>"{{#sectionDetail}}{{sectionDetail.sectionName}}{{/sectionDetail}}" 版</title>

    <style>
        .section-summary{
            width: 100%;/* 要显示文字的宽度 */
            float: left;/* 左对齐，不设置的话只在IE下好用 */
            overflow: hidden; /* 超出的部分隐藏起来 */
            white-space: nowrap;/* 不显示的地方用省略号...代替 */
            text-overflow: ellipsis;/* 支持 IE */
            -o-text-overflow: ellipsis;/* 支持 Opera */
        }
    </style>
</head>
<body class="d-flex flex-column h-100" style="background: #eff0ea">
{{>layout/navbar}}

<main role="main" class="flex-shrink-0">
    <div class="row" style="margin-top: 40px">
        <div class="col-2"></div>
        <div class="col-10">

            <div class="row" style="margin-bottom: 20px">
                <div class="col-7 row ml-1">
                    <h3>"{{#sectionDetail}}{{sectionDetail.sectionName}}{{/sectionDetail}}" 版</h3>

                    <div class="btn-group ml-auto mr-1 float-right" id="buttonGroup">
                        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" style="width: 160px;" value="按时间倒序"
                                id="sortBy">
                            <span class="oi oi-sort-descending" id="showSortBy">&nbsp;按时间倒序</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">&nbsp;按时间倒序</a>
                            <a class="dropdown-item" href="#">&nbsp;按点赞数倒序</a>
                            <a class="dropdown-item" href="#">&nbsp;按浏览数倒序</a>
                        </div>
                        <script>
                            $(".dropdown-menu a").click(function () {
                                $(this).parents("#buttonGroup").find('#showSortBy').text($(this).text());
                                $(this).parents("#buttonGroup").find('#sortBy').val($(this).text());
                            });
                        </script>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-7">
                    {{#postPage}}
                    <div class="card" style="padding: 10px 20px 10px 20px;margin-bottom: 20px;">
                        <div class="row">
                            <div style="margin: 10px">
                                <img src="{{firstImg}}"
                                     class="first-img" style="width: 140px;height: 100px">
                            </div>
                            <div style="margin: 10px">
                                <h4><a href="/postDetail?postId={{postId}}" style="color: #0b2e13">{{title}}</a></h4>
                                <p >{{summary}}</p>
                            </div>
                        </div>

                        <div class="col-auto ">

                            <div class="row">
                                <div class="col-6"></div>
                                <div class="col-4" name="lastEditTimes">{{lastEditTime}}</div>
                                <div class="col-1"><input type="image" src="/svg/heart.svg"
                                                          style="height: 20px;width: 20px"> {{starNumber}}</div>
                                <div class="col-1"><input type="image" class="delete-post" id="" src="/svg/trash.svg"
                                                          name="btnDeletePost" btnPostId="{{postId}}" btnAuthorEmail="{{authorEmail}}" style="height: 20px;width: 20px"></div>
                            </div>
                        </div>
                    </div>
                    {{/postPage}}
                    {{^postPage}}
                    {{/postPage}}
                    <div id="pagination"></div>
                </div>
                <div class="card col-3" style="max-height: 500px">
                    <div class="card-body" style="padding: 10px;text-align: center">
                        {{#sectionDetail}}
                        <h3 style="text-align: center;max-height: 200px">{{sectionName}}</h3>
                        <h6 class="container section-summary" style="margin-bottom: 20px">
                            {{description}}
                        </h6>
                        {{/sectionDetail}}
                        <hr>
                        <p>
                            版主
                        </p>
                        <br>
                        {{#moderators}}
                        <div class="row ml-1" style="padding: 0 10px 0 10px; margin: auto auto 20px;">
                            <div class="" style="margin:0 15px 0 0;">
                                <img src="{{moderatorAvatar}}"
                                     style="width: 50px;height: 50px;"
                                     class="rounded-circle">
                            </div>
                            <input type="hidden" name="btnModeratorEmail" value="{{moderatorEmail}}">
                            <div style="margin-top: 13px;">
                                <a href="/profile?userEmail={{moderatorEmail}}"><span style="color: #0C0C0C"> {{moderatorNickName}}</span></a>
                            </div>
                            <button type="button" class="btn btn-outline-primary ml-auto mr-3 float-right"
                                    data-toggle="button"
                                    aria-pressed="false"
                                    style="height: 40px;width: 60px; margin-top:5px;">
                                关注
                            </button>
                        </div>
                        {{/moderators}}

                        <div style="position: absolute;bottom: 0;left: 22%;margin-bottom: 20px;">
                            {{#sectionDetail}}
                            <a type="button" class="btn btn-outline-primary" href="/write?sectionName={{sectionName}}">
                                <span class="oi oi-pencil"></span>&nbsp;发表新帖
                            </a>
                            {{/sectionDetail}}
                            <button type="button" class="btn btn-outline-primary">
                                <span class="oi oi-puzzle-piece"></span>&nbsp;申请版主
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>

    </div>
</main>
{{>layout/footer}}

<script src="/layui/layui.js"></script>
<script>
    $(document).ready(function () {

        $(".first-img").each(function () {
            var imgUrl=$(this)[0].src;
            if (imgUrl==="http://"+document.domain+":8080/0"){
                $(this).attr('src', "/img/gpf_nopic.png");
            }
        });

        $(".delete-post").click(function () {
            if(confirm("确认删除该帖吗？")){
                var postId = this.getAttribute("btnPostId");
                $.ajax({
                    type: "post",
                    url: "deletePost",
                    data: {
                        "postId": postId
                    },
                    success: function (data) {
                        if(data=="删除成功") {
                            // alert("删除成功");
                            window.location.reload();
                        }else{
                            alert("删除失败");
                        }
                    }
                })
            }
        });

    });

</script>
<script>



    layui.use('laypage', function () {
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'pagination' //分页控件id
            , limit: 10 //每页显示的条数
            , count: {
        {
            postPage.totalElements
        }
    } //数据总数，从服务端得到
    ,
        groups: 5
            , curr
    :
        Number({
        {
            postPage.number
        }
    }
        +1
    )
    ,
        jump:function (obj, first) {//当点击分页的页码，切换后的调用该函数
            if (!first) {
                //改变浏览器的地址
                location.href = "sectionDetail?pageIndex=" + obj.curr + '&sectionName=' + '{{sectionDetail.sectionName}}';
            }
        }
    ,
        layout:['count', 'prev', 'page', 'next', 'skip']
    })
        ;
    });

    $(function () {

        var lastEditTimes = document.getElementsByName("lastEditTimes");
        for (var i = 0; i < lastEditTimes.length; i++) {
            lastEditTimes[i].innerText = (process(lastEditTimes[i].innerText));
        }

        function process(data) {
            // var flag = data.indexOf(" ");
            return data.substring(0, 19);
        }
    });
</script>

<script>
    $(function () {
        var deletePostDivs = document.getElementsByName("btnDeletePost");
        var identity;
        var userEmail = '{{#User.userEmail}}{{.}}{{/User.userEmail}}{{^User.userEmail}}null{{/User.userEmail}}';
        if(userEmail=='null')identity = 0;//游客
        else {
            var moderator = document.getElementsByName("btnModeratorEmail");
            for (var i = 0; i < moderator.length; i++) {
                if (userEmail == moderator[i].value) {
                    identity = 1;//版主
                    break;
                }
            }
        }
        // alert(identity);

        for(var i = 0;i<deletePostDivs.length;i++){
            if(identity==0){
                deletePostDivs[i].disabled=true;
            }else if(identity==1){

            }else if(userEmail != deletePostDivs[i].getAttribute("btnAuthorEmail")){
                deletePostDivs[i].disabled=true;
                // deletePostDivs[i].attr("disabled",true);
            }
        }

    });


</script>

</body>
</html>